{% extends 'account/layout.html' %}
{% block body %}
<div style="margin-top: 150px;" class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div style="margin-bottom: 60px;" class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Login</h1>
                                </div>
                                <form action="{% url 'login' %}" method="POST" class="user">
                                    {% csrf_token %}
                                    <div class="form-group">
                                    <input type="email" name="email" class="form-control form-control-user" id="email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                    <input type="password" name="password" class="form-control form-control-user" id="password" placeholder="Password">
                                    </div>
                                    <input type="submit" value="Login" class="btn btn-primary btn-user btn-block">
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{% url 'register' %}">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}