{% extends 'main/layout.html' %}

{% block body %}
<div class="container-fluid">
    <div> 
        <h1 class="h3 mb-2 text-primary font-weight-bolder text-center"> MAIN SSG</h1>
    </div>


    <div class="card shadow mb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">MAIN SSG Tally</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered tally-table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Photo</th>
                            <th>Full Name</th>
                            <th>Bio</th>
                            <!-- <th>Voters</th> -->
                            <th>Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mainssg in mainssg %}
                        <tr>
                            <td>{{mainssg.position}}</td>
                            <td class="d-flex justify-content-center"><img src="{{ mainssg.photo_url }}" width="100xp" height="100px"></td>
                            <td>{{mainssg.fullname}}</td>
                            <td>{{mainssg.bio}}</td>
                            <!-- <td>{% for voters in mainssg.voters.all %} {{ voters }},  {% endfor %}</td>  -->
                            <td>{{ mainssg.voters.all|length }} </td> 
                        </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}