{% extends 'main/layout.html' %}

{% block body %}
<div class="container-fluid">
    <div class="text-center"> 
        <h1 class="h3 mb-2 text-primary font-weight-bolder">Voting Receipt</h1><br>
    </div>

    <div class="row">

        {% for receipt in receipts %}
            {% if receipt.governor or receipt.vice_governor or receipt.secretary or receipt.treasurer or receipt.auditor or receipt.pio or receipt.businessmanager or receipt.peaceofficer %}
                <div class="col-xl-12 col-md-12 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out"> 
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary text-center">{{ receipt.department }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered receipt_table" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <td>Date: {{ receipt.created_at }} <b></b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Department: <b>{{ receipt.department }}</b> </td>
                                        </tr>
                                        <tr>
                                            <td>Name: <b>{{ receipt.owner }}</b> </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ul style="list-style: none; margin-left: -40px;">
                                                    <li> Governor - {{receipt.governor}}</li>
                                                    <li> Vice Governor - {{receipt.vice_governor}} </li>
                                                    <li> Secretary - {{receipt.secretary}}</li>
                                                    <li> Treasurer - {{receipt.treasurer}} </li>
                                                    <li> Auditor - {{receipt.auditor}} </li>
                                                    <li> P.I.O. - {{receipt.pio}} </li>
                                                    <li> Business Manager - {{receipt.businessmanager}}  </li>
                                                    <li> Peace Officer - {{receipt.peaceofficer}}</li>
                                                </ul>
                                            </td>
                                        </tr>   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

</div>
{% endblock %}